*{
    margin: 0px;
    padding: 0px;
}
h1 {
    text-align: center;
    padding-bottom: 5px;
    margin-top: 20px;
}
.parrafo {
    background-color: #86895d;
    text-align: justify;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    h2 {
        font-weight: 500;
        color: white;
        text-align: center; 
        padding-bottom: 30px;
    }
    p {
        font-weight: 600;
        padding-left: 25px;
        padding-right: 25px;
    }
    li {
        font-weight: 600;
        padding-left: 25px;
        padding-right: 25px;
    }
    a {
        padding-left: 25px; 
    }
}
ul li {
    list-style-type: none;
    // text-decoration: underline;
    padding: 0px;
}
aside {
    padding: 0px;
    background-color: #86895d;
}
.contenedor-carrusel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    margin: 0px;
    padding-right: 0px;
    .carousel {
        grid-column: 1/4;
        grid-row: 1/2;
        padding: 0px;
        width: 100%;
        margin: 0px;
    }
}
.slide {
    margin-top: 10px;
}
.slide img {
    height: auto;
    width: auto;
}
.fondocampo {
    margin-top: 25px;
}
h2 a {
    color: white;
    a:hover {
        color: cadetblue;
        text-decoration: none;
    }
} 
.identidad {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    background-color: rgb(39, 62, 124);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 450;
}
footer {
    padding-top: 35px;
    padding-bottom: 35px;
    .logo {
    height: 110px;
    }
    
}
aside {
    height: auto;
    width: auto;
    padding: 30px;
    padding-left: 20px;
    margin: 0px;
}
@media only screen and (min-width: 850px){
    .aside {
        padding: 50px;
        padding-top: 80px;
    }
    .img-plantacion {
        height: 450px;
    }
}